{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "atb.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "atb.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    {{- range .Values.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: {{ include "atb.fullname" $ }}-broker
                port:
                  number: {{ $.Values.broker.service.port }}
          - path: /auth
            pathType: Prefix
            backend:
              service:
                name: {{ include "atb.fullname" $ }}-agentauth
                port:
                  number: {{ $.Values.agentauth.service.port }}
          {{- if $.Values.dashboard.enabled }}
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "atb.fullname" $ }}-dashboard
                port:
                  number: {{ $.Values.dashboard.service.port }}
          {{- end }}
    {{- end }}
{{- end }}
